*{  
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    justify-content: center;
}

@font-face {
    font-family: 'MyWebFont';
    src: url('Blippo Bold.ttf')  format('truetype')
}

body{
    line-height: 1.4; 
    background-image: url("https://blog.publix.com/publix/files/2019/10/Deli-Department-Featured.jpg");
    background-attachment:fixed;
    background-position: center;
    background-size: cover;
    
}

img {
    height: 100%;
    width: 100%;
    padding: 5px;
}

.apptop {
    width: 100%;
    margin: 0px;
    padding: 0 20px 0 20px;
    background-color: #3F8F2C;
    color: #fff;
}

.container {
    padding-top: 130px;
    
}

.navbar-brand {
    background-color: #3F8F2C;
}

.footer {
    text-align: center;
    color: #fff;
    
}
.fixed-bottom {
    margin-right: -15px;
}
